<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form">
                <form>
                    <div class="form-group">
                        <label>Choose Character</label>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/thief">
                                    Thief
                                </a> </div>
                            <div class="col-md-3">
                                <a href="/wizard">
                                    Wizard
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/warrior">
                                    Warrior
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/knight">
                                    Knight
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Choose Character Name</label>
                        <input placeholder={{type}} class="form-control" id="char-name">
                    </div>
                    <div class="form-group form-check">
                        <label>Choose Character Attack</label>
                        <select class="form-control" id="attack">
                            {{#each attack}}
                            <option>{{attack}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="create-btn">Create New Character</button>
                </form>
            </div>

        </div>
        <div class="col-md-6">
            <div class="sketchfab-embed-wrapper">
                <iframe title="A 3D model" width="100%" height="500" src={{url}} frameborder="0"
                    allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                    <a href="https://sketchfab.com/3d-models/shadow-catcher-demo-the-cartoon-knight-e5ab9d2e39f446639cc76d8467ea666f?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                        target="_blank" style="font-weight: bold; color: #1CAAD9;">Shadow Catcher Demo: The Cartoon
                        Knight</a>
                    by <a
                        href="https://sketchfab.com/Sketchfab?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                        target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                        target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                </p>
            </div>
        </div>
    </div>
</div>