body{
    color: lightgray;
    font-family: 'MedievalSharp', cursive;
}
.btn {
    background-color: rgb(185, 184, 184);
    }
.currentSpace{
    border-style:solid ;
    width:130px;
    height: 130px;
    float: left;
    border-radius:9%;
    margin:auto;
}
.header{
    padding-top: 3%;
}
.container{
    width: 60%;
align-content: center;
margin: 0 auto;
}
.dice{
    
    margin-bottom:10%;
    
}
#logout{
    margin-left: 650px;
}
.modal-title{
    margin-left: 23%;
    
}
/* .myModal{
    
    
} */
.modal-content{
    background-image: url("../images/26e349c269516d0b99ad9f17e9e2e75b.jpg" );
    background-position: center;
    background-size: 160%;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-weight: 100;
    border-radius:4%;
    
    
}
li{
    font-size:20px;
}
#acceptBtn{
    border-style: outset;
    font-size: 20px;
    color: rgb(46, 45, 45);
    
    
}
#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}
button{
    border-style: outset;
    font-size: 20px;
    color: rgb(46, 45, 45);    
}
