section {
    height: 800px;
    width: 750px;
    margin: 0 auto;
    background-image: url(../Assets/26e349c269516d0b99ad9f17e9e2e75b.jpg);
}

#question {
    /* padding: 150px 200px 150px; */
    text-align: center;
    padding-top: 250px;
    font-size: 25px;
}

